.about-page{
    .text-zone{
        position: absolute;
        top: 5%;
        left: 10%;
    }
    h1 {
        color: #6e2020;
        font-size: 60px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        letter-spacing: 2px;
    }
    img{
        width: 200px;
        margin-top: 10px;
        height: auto;
        border-radius: 100px;
    }
}